node_modules/**
src/**
.vscode-test/**
tsconfig.json
tsconfig.test.json
.vscode-test.mjs
vitest.config.ts
package-lock.json
.prettierrc
.gitignore
**/*.ts
**/*.map
icon.svg
**/.DS_Store
.claude/
AGENT.md
CLAUDE.md
scripts/
dist/test/
.pnp.cjs
.pnp.loader.mjs
.yarnrc.yml
yarn.lock
.yarn/
